{{ template "header" }}
        <h1>You drew a {{ .status }}</h1>
        <h2>I doubt this was the card you are looking for.</h2>
        <p>Go <a href="/">here<a> instead.</p>
        <br />
{{ template "footer"}}
