{{ define "footer" }}
        <p>Everything is © Egypt Urnash. For more information please see <a href="http://egypt.urnash.com/tarot/">the Silicon Dawn Official Website.</a></p>
        <p>Code for this page can be found at <a href="https://github.com/onlyhavecans/silicon-dawn-golang">my personal repository.</a></p>
    </div>
</body>
</html>
{{ end }}
