<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tarot of the Silicon Dawn</title>
    <style TYPE="text/css">body{background: black;color: dimgrey}</style>
</head>
<body>
    <div style="text-align: center;">
        <img src="{{ .dir }}/{{ .name }}" alt="{{ .name }}" />
        <br />
        <img src="{{ .dir }}/{{ .text }}" alt="{{ .text }}" />
        <br />
        <p>Everything is © Egypt Urnash. For more information please see <a href="http://egypt.urnash.com/tarot/">the Silicon Dawn Official Website.</a></p>
        <p>Code for this page can be found at <a href="https://onlyhavecans.works/amy/silicondawn">my personal repository.</a></p>
    </div>
</body>
</html>