{{ template "header" }}
        <img src="{{ .dir }}/{{ .name }}" alt="{{ .name }}" />
        <br />
        <img src="{{ .dir }}/{{ .text }}" alt="{{ .text }}" />
        <br />
{{ template "footer" }}
